# Data Science Tools and Ecosystem

Some of the popular languages that Data Scientists use are:
 1. Python
2. R
3. Sql

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**  
* Python
* R
* SQL
* Java

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
1. Pandas
1. seaborn

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|Vs code|
|Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [13]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [15]:
200/60

3.3333333333333335

## Author
Freider Leclerc